{% extends "base_auth.html" %}

{% block title %}Set New Password | FitMan{% endblock %}
{% block auth_title %}Set New Password{% endblock %}

{% block content %}
  {% if validlink %}
    <p class="fm-auth-lead">Choose a new password for your account.</p>
    <form class="fm-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="fm-btn fm-btn-primary fm-btn-block" type="submit">Update Password</button>
    </form>
  {% else %}
    <p class="fm-auth-lead">
      This password reset link is invalid or has already been used.
      Please request a new reset link.
    </p>
    <div class="fm-auth-actions">
      <a class="fm-btn fm-btn-primary fm-btn-block" href="{% url 'password_reset' %}">Request New Link</a>
    </div>
  {% endif %}
{% endblock %}
