{% extends "base_auth.html" %}

{% block title %}Reset Password | FitMan{% endblock %}
{% block auth_title %}Reset Password{% endblock %}

{% block content %}
  <p class="fm-auth-lead">Enter the email linked to your account and we'll send you a reset link.</p>
  <form class="fm-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="fm-auth-actions">
      <button class="fm-btn fm-btn-primary fm-btn-block" type="submit">Send Reset Link</button>
      <a class="fm-btn fm-btn-ghost fm-btn-block" href="{% url 'login' %}">Back</a>
    </div>
  </form>
{% endblock %}
